<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
</head>
<script th:inline="javascript">
</script>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">로그인</h1>
                            </div>
                            <form class="user" role="form" action="/login/doLogin" th:object="${loginForm}" method="post" name="form">
                                <div class="form-group">
                                    <input type="text" th:field="*{userId}"
                                        th:class="${#fields.hasErrors('userId')} ? 'form-control form-control-user fieldError' : 'form-control form-control-user' "
                                        placeholder="아이디"/>
                                    <p th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"/>
                                </div>
                                <div class="form-group">
                                    <input type="password" th:field="*{userPassword}"
                                            th:class="${#fields.hasErrors('userPassword')} ? 'form-control form-control-user fieldError' : 'form-control form-control-user' "
                                            placeholder="비밀번호"/>
                                    <p th:if="${#fields.hasErrors('userPassword')}" th:errors="*{userPassword}"/>
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox small">
                                        <input type="checkbox" class="custom-control-input" id="customCheck">
                                        <label class="custom-control-label" for="customCheck">아이디 기억하기</label>
                                    </div>
                                    <!-- <p th:if="${#strings.length(session.loginErrorMessage)>0}"
                                        th:text="${session.loginErrorMessage}" /> -->
                                </div>
                                <a href="javascript:void(0);" class="btn btn-primary btn-user btn-block" th:onclick="submit();">
                                    로그인
                                </a>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">비밀번호찾기</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="/user/join">회원가입</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>