<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
</head>
<script th:inline="javascript">
    function submit (){
        var form = document.form;
        form.submit();
    }
</script>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <div th:replace="~{fragments/sidebar :: sidebar}" />
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            
            <!-- Main Content -->
            <div id="content">
                
                <div th:replace="~{fragments/topnavigator :: topnavigator}" />

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-1 text-gray-800">마이페이지</h1>

                    <!-- Content Row -->
                    <div class="row" style="display: block;">

                        <!-- Fade In Utility -->
                        <form role="form" th:object="${userForm}" method="post" class="user" name="form" action="/myPage">
                            <input type="hidden" th:name="_csrf" th:value="${_csrf.token}"/>
                            <div class="col-lg-6" style="max-width: 100%;">
                                
                                <input style="display:none;" th:field="*{userSeq}"></input>

                                <div class="card position-relative">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">회원정보</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="mb-1">아이디</div>
                                        <nav class="navbar navbar-expand navbar-light bg-light mb-4">
                                            <a class="navbar-brand" href="#" th:text="*{userId}"></a>
                                        </nav>

                                        <div class="mb-1">닉네임</div>
                                        <nav class="navbar navbar-expand navbar-light bg-light mb-4">
                                            <input class="navbar-brand" href="#" th:field="*{userNickName}"></input>
                                        </nav>
                                    </div>
                                    <a href="#" class="btn btn-primary btn-icon-split" style="width: 50%; align-self: center;" th:onclick="submit();">
                                        <span class="text">저장하기</span>
                                    </a>
                                </div>

                            </div>
                        </form>

                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <div th:replace="~{fragments/footer :: footer}" />
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>